%table.table.table-striped.table-hover
  %thead
    %tr
      %th Area
      %th District
      %th Sector
      %th Residential
      %th Business
      %th Total
      %th Updated
  %tbody
    - @sectors.each do |s|
      %tr
        %td= s.area
        %td= s.district
        %td= s.sector
        %td= s.residential
        %td= s.business
        %td= s.total
        %td= "#{time_ago_in_words(s.updated_at)} ago"