- content_for :title do
  Importer
= breadcrumbs [['Importer', importer_index_path], ['History']]
.page-header
  %h1
    %span
      %i.icon-circle-arrow-up.icon-2x
    Import History
%ul.nav.nav-tabs
  %li= link_to "Import data", importer_index_path
  %li.active= link_to "History", history_importer_index_path
%table.table.table-striped.table-hover
  %thead
    %tr
      %th #
      %th Type
      %th Status
      %th Date
      %th Who
      %th &nbsp;
  %tbody
    - if @transports.blank?
      %tr
        %td{colspan: "5"} There is no record or any previous imports.
    - else
      - @transports.each do |o|
        %tr
          %td= o.id
          %td= o.transport_type
          %th= o.status_name
          %td= o.created_at.strftime('%d %B %Y at %H:%M:%S')
          %td= o.user.name
          %td= can_cancel_import?(o) ? link_to(image_tag('cross.png'), cancel_importer_path(o), method: :post) : raw('&nbsp;')
= will_paginate @transports