<ul class="breadcrumb">
  <li><%= link_to "Dashboard", root_path %><span class="divider">/</span></li>
  <li><%= link_to "Groups", departments_path %> <span class="divider">/</span></li>
  <li class="active">New Group</li>
</ul>

<div class="page-header">
  <h1>New Group</h1>
</div>

<%= render "shared/error_messages", :target => @department %>

    <%= form_for @department, :url => { :action => 'create'}, :html => {:class => "form-horizontal" } do |f| %>
      <fieldset>
        <div class="row">
          <div class="span5">
            <legend>Basic Details</legend>

            <div class="control-group">
              <%= f.label :name, :class => "control-label" %>
              <div class="controls">
                <%= f.text_field :name %>
              </div>
            </div>

            <div class="control-group">
              <%= f.label :description, :class => "control-label" %>
              <div class="controls">
                <%= f.text_area :description, :rows => 4 %>
              </div>
            </div>

          </div>
          <div class="span7">
            <legend>Assigned Users</legend>
            <%= label_tag :name, "Select  " %>
            <select class="span5" multiple="multiple">
              <% User.find_each do |u| %>
              <option value="<%= u.id %>"><%= u.name %></option>
              <% end %>
            </select>
          </div>

        </div>
        <hr>
        <div class="pull-right">
        <%= f.submit "Save", :class => "btn btn-primary" %>
        <%=link_to "Cancel", departments_path, :class =>"btn" %>
        </div>
      </fieldset>
    <% end %>